@import url('https://fonts.googleapis.com/css?family=Montserrat');

.simple-intro {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: left;
	position: relative;
	margin-left: 15vw;
	margin-right: 15vw;
}

.big-intro {
	font-size: 35px;
	color: #2A56C6;
}