.ccp-portfolio {
	text-align: left;
}

.top-block-ccp {
	height: 60vh;
	width: 100%;
	background-color: #f47a42;
}

.ccp-text {
	margin-top: 30px;
	margin-left: 15vw;
	margin-right: 15vw;
	position: relative;
	font-size: 17px;
	line-height: 30px;
}

.ccp-title {
	font-weight: bold;
	font-size: 40px;
	color: #f47a42;
	margin-top: 50px;
}

.ccp-subtitle {
	font-weight: bold;
	margin-top: 50px;
	font-size: 30px;
	color: #f47a42;
}

.ccp-desc {
	font-size: 17px;
}

.ccp-thumb-img {
	position: relative;
	margin-top: 3vh;
	margin-left: calc((100vw - 100vh)/2);
	width: 100vh;
	height: 54vh;
	box-shadow: 3px 3px 10px grey;
}

.ccp-caption {
	vertical-align: top;
	text-align: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: 5vw;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.project-title {
	font-weight: bold;
	margin-top: 30px;
	font-size: 25px;
}

.project-detail {
	margin-top: 10px;
}

.project-quote {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 22px;
	text-align: center;
}

.ccp-process {
	margin-top: 40px;
	width: 70vw;
}

.ccp-interview {
	width: 20vw;
}

.ccp-survey {
	width: 40vw;
}

.ccp-finding {
	margin-top: 20px;
	width: 15vw;
	height: 13vw;
}

.ccp-center {
	text-align: center;
}

.ccp-persona {
	margin-top: 20px;
	width: 34vw;
	height: 22vw;
}

.ccp-IA {
	margin-top: 20px;
	width: 34vw;
	height: 20vw;
}

.ccp-label-change {
	margin-top: 20px;
	width: 45vw;
	height: 25vw;
}

.ccp-lofi-group {
	margin-top: 20px;
}

.ccp-sketch {
	margin-top: 30px;
	width: 22vw;
	height: 15vw;
}

.ccp-proto {
	width: 33vw;
	height: 20vw;
}

.ccp-gif {
	width: 15vw;
	height: 30vw;
}

.ccp-highfi-group {
	margin-top: 40px;
	margin-left: 10vw;
}

.ccp-highfi {
	margin-top: 30px;
}

.ccp-hifi-text {
	font-size: 25px;
	font-weight: bold;
	margin-left: 3vw;
	position: relative;
	top: 14vw;
}