.group4me-portfolio {
	text-align: left;
}

.top-block-group4me {
	height: 86vh;
	width: 100%;
	background-color: #4280D7;
}

.group4me-text {
	margin-top: 30px;
	margin-left: 15vw;
	margin-right: 15vw;
	position: relative;
	font-size: 17px;
	line-height: 30px;
}

.group4me-title {
	font-weight: bold;
	font-size: 40px;
	color: #4280D7;
}

.group4me-subtitle {
	font-size: 30px;
	color: #4280D7;
}

.group4me-desc {
	font-size: 17px;
	
}

.group4me-thumb-img {
	position: relative;
	width: 100vw;
	height: 60vw;
}


.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: 5vw;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.project-title {
	margin-top: 20px;
	font-size: 25px;
}

.project-detail {
	margin-top: 10px;
}