.group4me-portfolio {
	text-align: left;
}

.top-block-group4me {
	height: 60vh;
	width: 100%;
	background-color: #4280D7;
}

.group4me-text {
	margin-top: 30px;
	margin-left: 15vw;
	margin-right: 15vw;
	position: relative;
	font-size: 17px;
	line-height: 30px;
}

.group4me-title {
	font-weight: bold;
	font-size: 40px;
	color: #4280D7;
	margin-top: 50px;
}

.group4me-subtitle {
	margin-top: 50px;
	font-size: 30px;
	color: #4280D7;
}

.group4me-desc {
	font-size: 17px;
}

.group4me-thumb-img {
	position: relative;
	margin-left: calc((100vw - 80vh)/2);
	width: 80vh;
	height: 60vh;
}


.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-right: 5vw;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.project-title {
	margin-top: 30px;
	font-size: 25px;
}

.project-detail {
	margin-top: 10px;
}

.group4me-process {
	margin-top: 20px;
	width: 70vw;
}

.group4me-interview {
	width: 20vw;
}

.group4me-survey {
	width: 40vw;
}

.group4me-finding {
	margin-top: 20px;
	width: 15vw;
	height: 13vw;
}

.group4me-caption {
	vertical-align: top;
	text-align: center;
}

.group4me-persona {
	margin-top: 20px;
	width: 30vw;
	height: 30vw;
}

.group4me-lofi-group {
	margin-top: 20px;
}

.group4me-lofi {
	width: 15vw;
	height: 30vw;
	margin-left: 2vw;
}

.group4me-gif {
	width: 15vw;
	height: 30vw;
}

.group4me-highfi-group {
	margin-top: 40px;
	margin-left: 10vw;
}

.group4me-highfi {
	margin-top: 30px;
}

.group4me-hifi-text {
	font-size: 25px;
	font-weight: bold;
	margin-left: 3vw;
	position: relative;
	top: 14vw;
}