.Work- {
	display: flex;
	flex-direction: column;
}

.card {
	position: relative;
	max-width: 1600px;
	width: 65vw;
	height: 39.4vw;
	max-height: 1200px;
	transition: 0.3s;
	cursor: pointer;
	margin-top: 50px;
	box-shadow: 1px 1px 5px grey;
	margin-left: 17.5vw;
	margin-right: 17.5vw;
}

.card-title {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	transition: 0.5s;
}

.work-title {
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
}

.thumb-img {
	max-height: 100%;
	max-width: 100%;
	overflow: visible;
	object-fit: stretch;
}

.card-title-text {
	font-size: 4vw;
	color: white;
	position: relative;
	margin-top: 11vw;
}

.card-desc-text {
	font-size: 2vw;
	color: white;
	position: relative;
	margin-top: 10px;
}