.Work {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 100px;
}

.card {
	position: relative;
	max-width: 1600px;
	width: 44vw;
	height: 33vw;
	max-height: 1200px;
	transition: 0.3s;
	cursor: pointer;
}

.card-title {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	transition: 0.5s;
}

.thumb-img {
	max-height: 100%;
	max-width: 100%;
	overflow: visible;
	object-fit: stretch;
}